* {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: #3e0c0c;
    color: #fff;
    padding: 2px 1px;
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    /*
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    */
}
li.
{
    display: inline;
}