body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header 
{
    background-color: #000000;
    color: #d16c6c;
    text-align: center;
    padding: 2px;
    font-size: x-large;
    font-family: 'Sacramento', cursive;
}
nav ul 
{
    list-style: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin-right: 20px;
}
section 
{
    margin: 3rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search 
{
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 0 0 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.search input[type="text"] 
{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 4px;
}
.search button 
{
    background-color: #ff3c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
button 
{
    background-color: #363434;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}
button:hover 
{
    background-color: #555;
}
.search button:hover 
{
    background-color: #ff7043;
}
.movie-table 
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.movie-table th 
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}
.movie-table td 
{
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
}
.movie-table tr:hover 
{
    background-color: #ddd;
}
img
{
    float:left;
    height: 100px;
}
footer 
{
    text-align: center;
    background-color: #333;
    color: #fff;
}
.foot
{
    text-align: left;
    padding: 0 0 0 0;
}
video
{
    width: 500px; 
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.vidclp
{
    font-weight: 300;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}